body, #wrapper {
    background-color: #27272a;
    color: #d4d4d8;
}

.link, .content a {
    color: #67e8f9!important;
}

.footnote-ref {
    margin-left: 0.2rem;
}

.content pre, .content code {
    background-color: #18181b!important;
    color: #fef3c7!important;
}
